.user-profile{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.user-info{
    margin-left: 5%; 
    margin-right: 20px;
}

.ProfileRecipeContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.ProfileRecipeCard {
    background-color: #efaca5;
    padding: 10px;
    width: 25%;
    height: 350px;
    border-radius: 12px;
    margin-bottom: 30px;
}

/* .ProfileRecipeCard div {
    background-color: #f7efda;
    aspect-ratio: 1/1;
    border-radius: 8px;
  
} */

.ProfileRecipeCard img {
    width: 100%;
    height: 100%;
    border-radius: 8px;
}

.ProfileRecipeCard:hover {
    cursor: pointer;
}

/*.favorite-checkbox {
    display: absolute;
    top: 10px;
    right: 10px;
    accent-color: #f4b084;
    width: 20px;
    height: 20px;
    transition: transform 0.2s ease;
}

.favorite-checkbox:checked {
    transform: scale(1.2);
}

.ProfileRecipeCard:hover .favorite-checkbox {
    transform: scale(1.2);
}*/


/*Responsive Design*/

/* Mobile (up to 600px) */
@media (max-width: 600px) {

    .user-profile {
        display: block;
    }

    .user-info {
        margin: 0px;
        width: 100%;
    }

    .ProfileRecipeCard {
        width: 70%;
        margin: 10px;
    }
    
}
